<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- todo: move to INFO later -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>